<!DOCTYPE html>
<html>
<head>
    <title>House Price Predictor</title>
</head>
<body>

<h1>House Price Predictor</h1>

<form action="/predict" method="post">


    Living Area(sqft):
    <input type="number" name="sqft_living"><br><br>

    Lot Area(sqft):
    <input type="number" name="sqft_lot"><br><br>

    Bedrooms:
    <input type="number" name="bedrooms"><br><br>

    Bathrooms:
    <input type="number" name="bathrooms"><br><br>

    Floors:
    <input type="number" name="floors"><br><br>

    Condition:
    <input type="number" name="condition"><br><br>

    Year Built:
    <input type="number" name="yr_built"><br><br>

    Waterfront:
    <input type="number" name="waterfront"><br><br>

    View:
    <input type="number" name="view"><br><br>



    <input type="submit" value="Predict">

    

</form>

</body>
</html>